<div class="displayTable">
  <div class="displayTableCell">
    <div class="authBlock">
      <h3>Réenitialiser le mot de passe</h3>

      <p class="text-center">
        Entrez votre email s'il vous plait.
      </p>

      <div class="formGroup">
        <input
          type="email"
          class="formControl"
          placeholder="Email Address"
          #passwordResetEmail
          required
        />
      </div>

      <!-- Calling ForgotPassword from AuthService Api -->
      <div class="formGroup">
        <input
          type="submit"
          class="btn btnPrimary"
          value="Réenitialiser le mot de passe"
          (click)="authService.ForgotPassword(passwordResetEmail.value)"
        />
      </div>
    </div>

    <div class="redirectToLogin">
      <span
        >Revenir en arriere
        <span class="redirect" routerLink="/sign-in">Connexion</span></span
      >
    </div>
  </div>
</div>
